##################################################
# Environment Variables #
##################################################
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL = https://api.learningpanda.ai

################################################
# Turnstile Configuration
################################################
NEXT_PUBLIC_TURNSTILE_SITE_KEY= "your_turnstile_site_key" # Generate this from the Cloudflare dashboard
TURNSTILE_SECRET_KEY= "your_turnstile_secret_key"         # Generate this from the Cloudflare dashboard